{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="card-header row">
    <div class="col-4 col-md-2 col-sm-12">
        <i class="fas fa-table"></i> Photos
    </div>
    <div class="col-lg-8 col-md-10 col-sm-12">
        {{ form_start(form, {'attr': {'class':'form-inline'} }) }}
            {{ form_row(form.images) }}
        <button type="submit" class="btn btn-primary btn-lg offset-lg-1 offset-sm-0 mt-lg-4 mt-sm-0" >Add</button>
        {{ form_end(form) }}
    </div>
</div>
<div class="card-body">
    <ul id="sortable" class="list-group">
        {% for image in images %}
            <li data-id="{{ image.id }}" class="ui-state-default list-group-item"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><img style="height: 200px;width: 200px; object-fit: contain; text-align: center" src ='/uploads/images/{{ image.Photoshoot.id }}/{{ image.image }}' {{ image.queue }}><a class="btn btn-danger btn-lg text-light" href="{{ path('deleteImage', {'id': image.id}) }}">Delete</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $( function() {
            $( "#sortable" ).sortable({
            axis: "y"
            });
            $( "#sortable" ).disableSelection();
            } );
        $( "#sortable" ).on( "sortupdate", function() {
            let arr = [];
            $("#sortable").find($('li')).each(function () {
                arr.push($(this).attr('data-id'));
            });
            $.ajax({
                url: '/admin/change_photos_order',
                data:{
                    'order': arr
                }
            })
                .done(function() { });
        });
        $('#sortable').disableSelection();
        </script>
{% endblock %}

