{% extends 'base.html.twig' %}
{% block body %}
    <!-- Page-Top -->
    <div class="container-custom-page-top" id="page-top">
        <div id="carousel-top" class="carousel slide" data-ride="carousel" style="height: fit-content">
            <div class="carousel-inner">
                {% if firstImg is defined %}
                <div class="carousel-item active">
                    <img src="/uploads/indexImages/{{ firstImg }}" class="d-block w-100" alt="...">
                </div>
                {% else %}
                    <div class="text-center">
                        <img style="max-width: 100vw" src="{{ asset('No-not-yet.png') }}" alt="">
                    </div>
                {% endif %}
                {% if otherImages is not empty %}
                    {% for img in otherImages %}
                        <div class="carousel-item">
                            <img src="/uploads/indexImages/{{ img }}" class="d-block w-100" alt="...">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
            <div style="text-align: center; position:absolute; bottom: 1rem; margin: auto; width: 100%;">
                <a style="font-size: large;" href="#portfolio">
                    <i class="far fa-5x fa-arrow-alt-circle-down"></i>
                </a>
            </div>
    </div>
    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-3">Recent Projects</h2>
            </div>
            <div class="row">
                {% for photoshoot in mainPhotoshoots %}
                    <div class="portfolio-window col-lg-6 col-sm-6">
                        <a class="portfolio-item" data-fancybox data-src="#portfolio-item-{{ photoshoot.id }}" href="#">
                            <span class="caption">
                              <span class="caption-content">
                                <h2>{{ photoshoot.title }}</h2>
                                <p class="mb-0">{{ photoshoot.shortDescription }}</p>
                              </span>
                            </span>
                            <img class="img-portfolio" src="/uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shiftU.image }}" alt="">
                        </a>
                        <div style="display: none" id="portfolio-item-{{ photoshoot.id }}">
                            <div class="page-title photoshoot-title">
                                <h2>{{ photoshoot.title | title}}</h2>
                            </div>
                            <div class="pt-2">
                                <a href="uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shiftU.image }}" data-fancybox="gallery-{{ photoshoot.id }}">
                                    <img class="img-photoshoot" src="/uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shift.image }}" alt="">
                                </a>
                            </div>
                            <div class="container-custom">
                                {% for image in photoshoot.images %}
                                    <a href="uploads/images/{{ photoshoot.id }}/{{ image.image }}" data-fancybox="gallery-{{ photoshoot.id }}">
                                        <img class="img-photoshoot" src="/uploads/images/{{ photoshoot.id }}/{{ image.image }}" alt="">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if mainPhotoshoots.photoshoots is not empty %}
            <div class="text-center">
                <a class="btn btn-primary btn-xl mt-4" href="{{ path('portfolio') }}">See more</a>
            </div>
            {% endif %}
        </div>
    </section>

    <!-- Backstage -->
    <section class="content-section" id="soon">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Backstages</h3>
            <h2 class="mb-3">Soon...❤️</h2>
        </div>
        <div class="scrolling-wrapper px-lg-4 px-sm-1 px-md-2 container">
            {% for sneakPeak in mainSneakPeaks %}
                <div class="col-lg-5 col-sm-5 card portfolio-window mx-1">
                    <a class="portfolio-item" data-fancybox data-src="#portfolio-item-{{ sneakPeak.id }}" href="#">
                        <span class="caption">
                          <span class="caption-content">
                            <h2>{{ sneakPeak.title }}</h2>
                            <p class="mb-0">{{ sneakPeak.shortDescription }}</p>
                          </span>
                        </span>
                        <img class="img-portfolio" src="/uploads/images/{{ sneakPeak.id }}/{{ sneakPeak.images.shiftU.image }}" alt="">
                    </a>
                    <div style="display: none" id="portfolio-item-{{ sneakPeak.id }}">
                        <div class="page-title photoshoot-title">
                            <h2>{{ sneakPeak.title | title}}</h2>
                        </div>
                        <div class="pt-2">
                            <a href="uploads/images/{{ sneakPeak.id }}/{{ sneakPeak.images.shiftU.image }}" data-fancybox="gallery-{{ sneakPeak.id }}">
                                <img class="img-photoshoot" src="/uploads/images/{{ sneakPeak.id }}/{{ sneakPeak.images.shift.image }}" alt="">
                            </a>
                        </div>
                        <div class="container-custom">
                            {% for image in sneakPeak.images %}
                                <a href="uploads/images/{{ sneakPeak.id }}/{{ image.image }}" data-fancybox="gallery-{{ sneakPeak.id }}">
                                    <img class="img-photoshoot" src="/uploads/images/{{ sneakPeak.id }}/{{ image.image }}" alt="">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if mainSneakPeaks.photoshoots is not empty %}
            <a class="next-button card ml-3" style="box-shadow: unset" href="{{ path('backstagePortfolio') }}">
                <i class="far fa-arrow-alt-circle-right"></i>
            </a>
            {% endif %}
        </div>
    </section>

    <!-- About -->
    <section class="about_us-section" id="about">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">A few words</h3>
            <h2 class="mb-3 text-light text-stroke">Abous me</h2>
        </div>
        <div class="modified-row portfolio-section container">
            <div class="col-sm-12 col-lg-7 py-3">
                <!-- Instagram WIDGET -->
                <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/f19df67f2b7257b7a7046728869b4c49.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                </div>
            <div class="col-sm-12 col-lg-5 py-3 text-justify my-auto">
                {{ aboutMe|raw }}
            </div>
        </div>
    </section>

    <!-- Contact -->
<section id="contact" class="contact-section text-white text-center">
    <span class="service-icon contact-form-symbol mx-auto">
        <i class="far fa-envelope"></i>
    </span>
    <div class="contactform container">
        <span class="content-section-heading text-center">
            <p class="text-dark h2">Drop me a message</p>
        </span>
            {{ form_start(contactForm, {'attr': {'id':'contactForm'} } ) }}
                {{ form_row(contactForm.name) }}
                {{ form_widget(contactForm.email) }}
                {{ form_row(contactForm.text) }}
                 <button type="submit" class="btn btn-outline-info btn-lg" id="send-button">Send</button>
            {{ form_end(contactForm) }}

        <div class="modal fade" tabindex="-1" role="dialog" id="contactModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <br>
                        <p class="text-dark h3">Thank you!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-2x align-middle fa-angle-up"></i>
    </a>
{% endblock %}