{% extends 'base.html.twig' %}
{% block body %}
    <!-- Page-Top -->
    <div class="container-custom-page-top" id="page-top">
        <div id="carousel-top" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('1.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('2.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-3">Recent Projects</h2>
            </div>
            <div class="row no-gutters">
                {% for photoshoot in mainPhotoshoots %}
                    <div class="col-lg-6">
                        <a class="portfolio-item" data-fancybox data-src="#portfolio-item-{{ photoshoot.id }}" href="javascript:;">
                    <span class="caption">
                      <span class="caption-content">
                        <h2>{{ photoshoot.title }}</h2>
                        <p class="mb-0">{{ photoshoot.shortDescription }}</p>
                      </span>
                    </span>
                            <img class="img-portfolio" src="uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shiftU.image }}" alt="">
                        </a>
                        <div style="display: none" id="portfolio-item-{{ photoshoot.id }}">
                            <div class="page-title photoshoot-title">
                                <h2>{{ photoshoot.title | title}}</h2>
                            </div>
                            <div class="photoshoot-text">
                                {{ photoshoot.description }}
                            </div>
                            <div>
                                <a href="uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shiftU.image }}" data-fancybox="gallery-{{ photoshoot.id }}">
                                    <img class="img-photoshoot" src="uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shift.image }}" alt="">
                                </a>
                            </div>
                            <div class="photoshoot-description">
                                Model: <em>{{ photoshoot.model }}</em><br>
                                Photographer: <em>{{ photoshoot.photographer }}</em>
                            </div>
                            <div class="container-custom">
                                {% for image in photoshoot.images %}
                                    <a href="uploads/images/{{ photoshoot.id }}/{{ image.image }}" data-fancybox="gallery-{{ photoshoot.id }}">
                                        <img class="img-photoshoot" src="uploads/images/{{ photoshoot.id }}/{{ image.image }}" alt="">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-xl mt-4" href="{{ path('portfolio') }}">Find out more</a>
            </div>
        </div>
        </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Services</h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-5 mb-lg-4">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
                    <h4>
                        <strong>Responsive</strong>
                    </h4>
                    <p class="text-faded mb-0">Looks great on any screen size!</p>
                </div>
                <div class="col-lg-6 col-md-12 mb-5 mb-lg-4">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
                    <h4>
                        <strong>Redesigned</strong>
                    </h4>
                    <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-5 mb-lg-4">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
                    <h4>
                        <strong>Favorited</strong>
                    </h4>
                    <p class="text-faded mb-0">Millions of users
                        <i class="fas fa-heart"></i>
                        Start Bootstrap!</p>
                </div>
                <div class="col-lg-6 col-md-12 mb-5 mb-lg-4">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
                    <h4>
                        <strong>Question</strong>
                    </h4>
                    <p class="text-faded mb-0">I mustache you a question...</p>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="about_us-section" id="about">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">A few words</h3>
            <h2 class="mb-3">Abous us</h2>
        </div>
        <div class="modified-row portfolio-section">
            <div class="col-sm-12 col-lg-8 pt-4 pb-4">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('1.jpg') }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('2.jpg') }}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 text-justify">
                <p class="photoshoot-title page-title"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci, asperiores assumenda delectus
                    dolor dolore doloribus modi, molestias mollitia nesciunt odit, perferendis qui quisquam recusandae
                    repellendus rerum sunt. Cumque, ea.
                    Autem corporis reprehenderit sunt vel! Ad eos est fuga nulla, odio reprehenderit sapiente suscipit?
                    Alias amet beatae dolores, explicabo hic nostrum saepe sequi? Aliquid facilis iste itaque numquam omnis,
                    repudiandae?
                    Aliquam beatae corporis deserunt dolores, dolorum excepturi fuga id incidunt libero maiores, neque
                    nulla odit pariatur praesentium quo reiciendis repellat sed vel veritatis voluptatem! Distinctio dolorem
                    eaque itaque nisi non.
                    Animi at, corporis culpa deserunt est expedita inventore iure iusto molestiae nesciunt officiis
                    pariatur, porro quam, quibusdam quo reiciendis repudiandae vero? Deserunt impedit inventore molestiae,
                    optio porro rerum unde vel!
                    Debitis dicta dolorum eaque earum enim, eos fuga, id illo illum impedit inventore molestiae
                    necessitatibus nisi nobis nostrum nulla provident quae quam quasi quibusdam saepe tempora, ut. Quas
                    quasi, quisquam.
                </p>
            </div>
        </div>
    </section>

    <!-- Map -->
<section id="contact" class="contact-section text-white text-center">
    <span class="service-icon contact-form-symbol mx-auto">
        <i class="far fa-envelope"></i>
    </span>
    <div class="contactform">
        <span class="content-section-heading text-center">
            <p class="text-dark h2">Drop us a message</p>
        </span>
            {{ form_start(contactForm) }}
                {{ form_row(contactForm.name) }}
                {{ form_widget(contactForm.email) }}
                {{ form_row(contactForm.text) }}
                 <button type="submit" class="btn btn-outline-info btn-lg">Send</button>
            {{ form_end(contactForm) }}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}