{% extends 'base.html.twig' %}
{% block body %}
    <!-- Page-Top -->
    <div class="container-custom-page-top" id="page-top">
        <div id="carousel-top" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% if firstImg is defined %}
                <div class="carousel-item active">
                    <img src="/uploads/indexImages/{{ firstImg }}" class="d-block w-100" alt="...">
                </div>
                {% else %}
                    <div class="text-center">
                        <img class="w-100vw" src="{{ asset('No-not-yet.png') }}" alt="">
                    </div>
                {% endif %}
                {% if otherImages is not empty %}
                    {% for img in otherImages %}
                        <div class="carousel-item">
                            <img src="/uploads/indexImages/{{ img }}" class="d-block w-100" alt="...">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="social-bar">
            <ul class="nav justify-content-start mb-3">
                <li class="nav-item">
                    <a class="social-link mx-2 my-1" href="https://www.facebook.com/profile.php?id=100012294073975" target="_blank">
                        <i class="fab fa-2x fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="social-link mx-2 my-1" href="mailto:katyastarodubova.stylist@gmail.com" target="_blank">
                        <i class="fas fa-2x fa-envelope"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="social-link mx-2 my-1" href="https://www.instagram.com/katyastarodubova/" target="_blank">
                        <i class="fab fa-2x fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-3">Recent Projects</h2>
            </div>
            {% if mainPhotoshoots.photoshoots is not empty %}
            <div class="row m-auto" id="bb">
                {% set i =  0.7%}
                {% for photoshoot in mainPhotoshoots %}
                    <div class="portfolio-window col-lg-6 col-sm-6 photo" data-delay="{{ i }}s">
                        <a href="/uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shiftU.image }}" class="portfolio-item" data-fancybox="gallery-{{ photoshoot.id }}">
                          <span class="caption">
                             <span class="caption-content">
                                <h2>{{ photoshoot.title }}</h2>
                                <p class="mb-0">{{ photoshoot.shortDescription | raw }}</p>
                              </span>
                          </span>
                            <img class="img-portfolio" src="/uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shift.image }}" alt="">
                        </a>
                        <div class="display-none" id="portfolio-item-{{ photoshoot.id }}">

                            {% for image in photoshoot.images %}
                                <a href="uploads/images/{{ photoshoot.id }}/{{ image.image }}" data-fancybox="gallery-{{ photoshoot.id }}">
                                    <img class="img-photoshoot" src="/uploads/images/{{ photoshoot.id }}/{{ image.image }}" alt="">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% set i = i + 0.4 %}
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-xl mt-4" href="{{ path('portfolio') }}">See more</a>
            </div>
                {% else %}
                    <div>
                        <img src="No-not-yet.png" alt="">
                    </div>
            {% endif %}
        </div>
    </section>

{#    <!-- Backstage -->#}
{#    <section class="content-section" id="soon">#}
{#        <div class="content-section-heading text-center">#}
{#            <h3 class="text-secondary mb-0">Backstages</h3>#}
{#            <h2 class="mb-3">Soon...❤️</h2>#}
{#        </div>#}
{#        {% if mainSneakPeaks.photoshoots is not empty %}#}
{#        <div class="scrolling-wrapper px-lg-4 px-sm-1 px-md-2 container">#}
{#            {% for sneakPeak in mainSneakPeaks %}#}
{#                <div class="col-lg-5 col-sm-5 card portfolio-window mx-1">#}
{#                    <a href="/uploads/images/{{ sneakPeak.id }}/{{ sneakPeak.images.shiftU.image }}" class="portfolio-item" data-fancybox="gallery-{{ sneakPeak.id }}">#}
{#                          <span class="caption">#}
{#                             <span class="caption-content">#}
{#                                <h2>{{ sneakPeak.title }}</h2>#}
{#                                <p class="mb-0">{{ sneakPeak.shortDescription }}</p>#}
{#                              </span>#}
{#                          </span>#}
{#                        <img class="img-portfolio" src="/uploads/images/{{ sneakPeak.id }}/{{ sneakPeak.images.shift.image }}" alt="">#}
{#                    </a>#}
{#                    <div class="display-none" id="portfolio-item-{{ sneakPeak.id }}">#}
{#                        <div class="page-title photoshoot-title">#}
{#                            <h2>{{ sneakPeak.title | title}}</h2>#}
{#                        </div>#}
{#                        <div class="pt-2">#}
{#                            <a href="uploads/images/{{ sneakPeak.id }}/{{ sneakPeak.images.shiftU.image }}" data-fancybox="gallery-{{ sneakPeak.id }}">#}
{#                                <img class="img-photoshoot" src="/uploads/images/{{ sneakPeak.id }}/{{ sneakPeak.images.shift.image }}" alt="">#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="container-custom">#}
{#                            {% for image in sneakPeak.images %}#}
{#                                <a href="uploads/images/{{ sneakPeak.id }}/{{ image.image }}" data-fancybox="gallery-{{ sneakPeak.id }}">#}
{#                                    <img class="img-photoshoot" src="/uploads/images/{{ sneakPeak.id }}/{{ image.image }}" alt="">#}
{#                                </a>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#            <a class="next-button card ml-3" href="{{ path('backstagePortfolio') }}">#}
{#                <i class="far fa-arrow-alt-circle-right"></i>#}
{#            </a>#}
{#            {% else %}#}
{#                <div>#}
{#                    <img src="No-not-yet.png" alt="">#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    </section>#}

{% endblock %}
